.cars {
  position: relative;
}

.image {
  height: 200px;
  display: flex;
  justify-content: center;
}

.image img {
  width: 80%;
  height: 100%;
}

.cars h2 {
  text-align: center;
  font-size: 30px;
  margin: 2rem 0;
}

.cars h4 {
  text-align: center;
  text-transform: capitalize;
  margin: 10px 0;
  font-size: 18px;
}

.each {
  padding: 20px 10px;
  box-shadow: 0 0 5px 0 gray;
  margin: 10px 0;
}

.each p {
  text-align: center;
  line-height: 25px;
  font-weight: 300;
  margin: 10px 0;
}

.each ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.each li {
  border: 1px solid gray;
  border-radius: 50%;
  padding: 10px 15px;
  margin: 10px;
}

.btn button {
  background-color: greenyellow;
  padding: 20px;
  outline: none;
  border: none;
}

.btn button i {
  color: #fff;
  font-size: 27px;
}

.btn button:disabled {
  background-color: gainsboro;
}

.cars .prev {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  left: 0;
}

.cars .next {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  right: 0;
}

.header p {
  text-align: center;
  font-weight: 500;
  color: rgb(160, 160, 160);
}

@media (min-width: 768px) {
  .cars {
    height: 100vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .all {
    display: flex;
  }

  .cars h2 {
    margin: 0;
  }

  .btn button {
    padding: 0;
    height: 70px;
    width: 70px;
    top: 50%;
  }

  .each {
    box-shadow: none;
    background-color: transparent;
    width: 33%;
  }

  .each p {
    font-size: 15px;
  }

  .each li {
    margin: 5px;
  }

  .image img {
    width: 200px;
    border-radius: 50%;
  }
}
